<div>
    <h2>Settings</h2>
</div>

<div class="row">
    <div class="col">
        <form [formGroup]="form" >
            <div class="form-group">
                <label for="settings">NewsAPI.org</label>
                <input type="text" class="form-control" placeholder="API from newsapi.org" formControlName="api">
                <p>Please enter the API key from newsapi.org</p>
            </div>

            <div class="row mt-2">
                <div class="col d-flex justify-content-end align-items-center">
                    <button type="button" class="btn btn-success" [disabled]="form.invalid" (click)="addAPI()">Save</button>
                    <button type="button" class="btn btn-dark ml-1" [disabled]="form.invalid" (click)="deleteAPI()">Delete</button>
                </div>
            </div>
        </form>

        
    </div>
</div>


<div class="row">
    <div class="col d-flex justify-content-start align-items-center">
        <button type="button" class="btn btn-warning" (click)="goBacktoCountry()">Back</button>        
    </div>
</div>